# Getting Started: Fundamentals
## Intro Python

11 July 2022

## Data Types

In [1]:
23

23

In [2]:
23.4

23.4

In [3]:
'hello'

'hello'

In [4]:
True

True

## Operations

In [5]:
4 + 4

8

In [6]:
5 / 2

2.5

In [7]:
9 // 2

4

In [8]:
9 // -2

-5

In [9]:
9 % 2

1

In [10]:
2 ** 3

8

## Comparisons and Booleans (`True` and `False`)

In [11]:
56 <= 23

False

In [12]:
78 >= 1

True

In [13]:
5 == 5

True

In [14]:
5 = 5  # We can't try to change the value of a number

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3619573732.py, line 1)

In [15]:
5 != 5

False

### Order of Operations

1. Parentheses
2. Exponentiation: `**`
3. Multiplication and division: `*` , `/`, `%`, `//`
4. Addition and subtraction: `+`, `-`
5. Comparisons: `==`, `!=`, `>`, `>=`, `<`, `<=`

In [16]:
5 * 2 <= 6 - 3 * 8

False

## Variables

In [17]:
feet_in_mile = 5280

In [18]:
4 * feet_in_mile

21120

In [19]:
mikm = .61

In [22]:
miles_in_km = .6
miles_in_km

0.6

In [23]:
distance = 10 * miles_in_km
distance

6.0

In [24]:
distance = distance + 1
distance

7.0

In [25]:
distance += 1
distance

8.0

In [26]:
distance*=2
distance

16.0

# Errors

In [27]:
5 = 7

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2492207828.py, line 1)

In [28]:
miles

NameError: name 'miles' is not defined

In [29]:
# this is a comment
month = 7  # july
year = 2022
# century = 21

In [30]:
century

NameError: name 'century' is not defined

## Functions

In [31]:
print('hello world')

hello world

In [32]:
type(miles_in_km)

float

In [34]:
print(10 ** 2)

100

In [35]:
int(miles_in_km)

0

In [36]:
round(miles_in_km, 1)

0.6

In [37]:
abs(-17)

17

In [38]:
print(type(round(2 * 1.5)))

<class 'int'>

In [39]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [40]:
# writing a function
def km_to_mi(km):
    '''
    Convert km to mi. There are .6 km in a mile
    '''
    mi = km * 0.6
    return mi

In [41]:
help(km_to_mi)

Help on function km_to_mi in module __main__:

km_to_mi(km)
    Convert km to mi. There are .6 km in a mile

In [42]:
def divide(dividend, divisor):
    return dividend / divisor

In [43]:
divide(10, 4)

2.5

In [44]:
divide(0, 4)

0.0

In [48]:
divide(4, 0)

ZeroDivisionError: division by zero

In [49]:
def calc_sales_tax(price, tax_rate=0.13):
    return price * tax_rate

calc_sales_tax(15.65)

2.0345

In [50]:
calc_sales_tax(15.65, .05)

0.7825000000000001

In [51]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=.2):
    tax = price * tax_rate
    tip = price * tip_rate
    return price + tax + tip

In [52]:
calc_total_bill(100)

133.0

In [53]:
calc_total_bill(100, .22)

142.0

In [54]:
calc_total_bill(100, tip_rate=.22, tax_rate=.05)

127.0

In [55]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [56]:
round(ndigits=1, number=3.14)

3.1

In [57]:
pounds = 135

In [58]:
def kg_to_lb(kg):
    '''Convert kg to lb
    >>> kg_to_lb(50)
    110
    >>> kg_to_lb(2)
    4.4
    '''
    pounds = kg * 2.2
    return pounds

In [62]:
kg_to_lb(2)

4.4

## Function Design Recipe

This function design recipe standardizes the steps to write a function.

1. Think about what your function does. Come up with a few examples of inputs and outputs.
2. Think of a meaningful function name.
3. Write thorough function documentation.
4. Code the function body.
5. Test the function against the examples from step 1.

In [63]:
# what does this code print? why?

answer = 3

def answer_to_everything():
    answer = 42
    return answer
    
print(answer_to_everything())

print(answer)

42
3

# Strings

`str`: text data

In [64]:
'this is a string'

'this is a string'

In [65]:
'we're doing great

SyntaxError: invalid syntax (4100235400.py, line 1)

In [66]:
"we're doing great"

"we're doing great"

In [67]:
'we\'re doing great'

"we're doing great"

In [68]:
'''
I am a multiline string

I'm useful for documentation and storing longer text.

And we don't need to worry about "quotation marks"!
'''

'\nI am a multiline string\n\nI\'m useful for documentation and storing longer text.\n\nAnd we don\'t need to worry about "quotation marks"!\n'

### Escape characters
`\'` escapes '  
`\\` escapes the backslash  
`\n` newline  
`\t` tab

## String operations

In [69]:
'hello' + 'world'

'helloworld'

In [70]:
'2' + '2'

'22'

In [71]:
'2' * 3

'222'

In [72]:
'4' * '5'

TypeError: can't multiply sequence by non-int of type 'str'

In [73]:
'2' + 100

TypeError: can only concatenate str (not "int") to str

In [74]:
print(f'My weight is {pounds/2.2} kg')

My weight is 61.36363636363636 kg

In [75]:
print(f'{answer_to_everything()} is the answer to everything')

42 is the answer to everything

In [76]:
'apple' == 'Apple'

False

In [77]:
'apple' != 'Apple'

True

In [78]:
20.0 == 20

True

In [79]:
'apple' > 'banana'

False

In [80]:
'apple' < 'banana'

True

In [81]:
'apple' > 'Apple'

True

## Slicing strings

In [82]:
'banana'[0]

'b'

In [83]:
'banana'[1]

'a'

In [84]:
'bananas'[-1]

's'

In [85]:
filename = 'my_long_filename.csv'

filename[-1]

'v'

In [86]:
filename[0:2]

'my'

In [87]:
filename[-3:]

'csv'

In [88]:
filename[:2]

'my'

In [89]:
filename[::-1]

'vsc.emanelif_gnol_ym'

In [90]:
filename[::2]

'm_ogflnm.s'